.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
.nycrc
build/
types/

.npmrc
npm-debug.log
node_modules/
dist/
*.tgz

.nyc_output/
test/**/*.out.*

.tmp/
.yarn-cache.tgz
